<!-- marketplace/templates/marketplace/homepage.html -->
{% extends 'marketplace/base.html' %}

{% block title %}
Welcome to TradeSphere
{% endblock %}

{% block content %}
<h1>Welcome to TradeSphere</h1>

<h2>Featured Vendors</h2>
<ul>
    {% for vendor in featured_vendors %}
        <li>
            <h3>{{ vendor.name }}</h3>
            <p>Location: {{ vendor.location }}</p>
            <a href="{% url 'vendor_detail' vendor.pk %}">View Details</a>
        </li>
    {% endfor %}
</ul>

<h2>Recent Products</h2>
<ul>
    {% for product in recent_products %}
        <li>
            <h3>{{ product.name }}</h3>
            <p>Price: {{ product.price }}</p>
            <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 100px;">
            <p>{{ product.description|truncatewords:20 }}</p>
            <a href="{% url 'product_detail' product.id %}">View Details</a>
        </li>
    {% empty %}
        <li>No recent products found.</li>
    {% endfor %}
</ul>


<h2>Explore More</h2>
<a href="{% url 'products' %}">View All Products</a>
{% endblock %}
